<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.icedcap.aidldemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="com.icedcap.aidldemo.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal"/>

    <uses-permission android:name="com.icedcap.aidldemo.permission.ACCESS_BOOK_SERVICE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".BookManageService"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.icedcap.aidldemo.BookManageService"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
    </application>

</manifest>